.App {
  text-align: center;
}

.navbar {
  justify-content: space-around;
  background-color: brown;
  font-size: 23px;

  display: flex;
}

@media screen and (max-width: 480px) {
    .navbar {
      flex-direction: column;
      text-align: center;
    }

    .row{
      display: flex;
      flex-direction: column;
      height: fit-content;
      width: max-content;
    }
}